tensorflow
tf2onnx
onnx
pandas
pandas_ta
ccxt
scikit-learn
joblib
# Enlace directo al Toolkit 2.3.0 para Linux (Python 3.11)
https://github.com/rockchip-linux/rknn-toolkit2/raw/master/rknn-toolkit2/packages/rknn_toolkit2-2.3.0-cp311-cp311-linux_x86_64.whl