tensorflow
tf2onnx
onnx
pandas
pandas_ta
ccxt
scikit-learn
joblib
yfinance
# rknn-toolkit2 
# (Mantener comentado si instalas en Windows/Mac. 
# En Linux x86 puedes instalar el wheel manualmente si quieres conversión nativa)